.aboutUsContainer {
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    flex-wrap: wrap;
    gap: 25px;
}


.orange {
    color: var(--color-orange);
}

.aboutUsBody {
    color: var(--color-text-gray);
}

.aboutUsContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
}


.aboutUsImageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prestonGraphic {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 480px) {
    
    .aboutUsContainer {
        gap: 100px;
    }

    .prestonGraphic {
        width: 250px;
    }
}