.heroSection {
    height: calc(100vh - 160px);
    position: relative;
}

.heroContent {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heroGraphic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 0;
}

.heroLeft {
    flex: 1;
    position: relative;
    z-index: 1;
    padding-left: 3%;
}

.heroLeftContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.proud {
    color: var(--color-light-orange);
    font-weight: 700;
}


.heroPrimary {
    color: var(--color-white);
}

.heroSecondary {
    color: var(--color-white);
}


.heroRight {
    flex: 1;
    position: relative;
    z-index: 1;
    padding-right: 3%;
}

.heroRightContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.consultationBox {
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 25px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.consultationTopRow {
    display: flex;
    flex-direction: column;
}

.consultationHeader {
    font-family: var(--font-odor-mean-chey);
    color: var(--color-orange);
}

.reachOut {
    color: var(--color-text-gray);
}


.consultationMiddleRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formTopRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.firstName, .lastName {
    flex: 1;
}

.consultationBottomRow {
    display: flex;
    justify-content: flex-end;
}





@media screen and (max-width: 480px) {
    .heroContent {
        padding-top: 50px;
        gap: 25px;
    }

    .heroSection {
        height: 1000px;
    }

    .heroLeft {
        padding-left: 0px;
    }

    .heroRight {
        padding-right: 0px;
    }
    
    .consultationBox {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    
    .heroSection {
        height: auto;
    }
    
    .heroContent {
        padding-top: 100px;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 100px;
    }

    .consultationBox {
        max-width: 100%;
    }
}