.navBarContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topNavRow, .middleNavRow, .bottomNavRow {
    width: 100%;
}

.topNavRow {
    background-color: var(--color-black);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topNavRowContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}

.topNavIcon {
    width: 15px;
    height: 15px;
}

.topNavTag {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.middleNavRow {
    background-color: var(--color-dark-gray);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleNavRowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.middleNavLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.orangeLogo {
    height: 90px;
    width: auto;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.navLink {
    color: var(--color-white);
}

.middleNavRight {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.phoneNumberContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.phoneNumber {
    color: var(--color-light-orange);
    font-weight: 700;
}


.bottomNavRow {
    background-color: #BA4E00;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomNavRowContent {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.bottomNavTag, .topNavTagText{
    color: var(--color-white);
}