.navBarContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topNavRow, .middleNavRow, .bottomNavRow {
    width: 100%;
}

.topNavRow {
    background-color: var(--color-black);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topNavRowContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}

.topNavIcon {
    width: 15px;
    height: 15px;
}

.topNavTag {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.middleNavRow {
    background-color: var(--color-dark-gray);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleNavRowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.middleNavLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.orangeLogo {
    height: 90px;
    width: auto;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.navLink {
    color: var(--color-white);
}

.middleNavRight {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.phoneNumberContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.phoneNumber {
    color: var(--color-light-orange);
    font-weight: 700;
}


.bottomNavRow {
    background-color: #BA4E00;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomNavRowContent {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.bottomNavTag, .topNavTagText{
    color: var(--color-white);
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
    .topNavRowContent {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .middleNavLeft {
        gap: 30px;
    }
    
    .navLinks {
        gap: 30px;
    }
    
    .middleNavRight {
        gap: 20px;
    }
    
    .bottomNavRowContent {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .topNavRow {
        display: none;
    }
    
    .middleNavRow {
        height: auto;
        padding: 15px 0;
    }
    
    .middleNavRowContent {
        justify-content: space-between;
        align-items: center;
    }
    
    .middleNavLeft {
        gap: 0;
    }
    
    .orangeLogo {
        height: 60px;
    }
    
    .navLinks {
        display: none;
    }
    
    .middleNavRight {
        gap: 15px;
    }
    
    .phoneNumberContainer {
        display: none;
    }
    
    .bottomNavRow {
        display: none;
    }
    
    .button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Small mobile styles */
@media screen and (max-width: 480px) {
    .middleNavRow {
        padding: 10px 0;
    }
    
    .orangeLogo {
        height: 50px;
    }
    
    .button {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
}