.serviceOfferingsSection {
    background-color: var(--color-white);
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    overflow-x: visible;
}

.serviceHeaderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.darkLogo {
    height: 90px;
    width: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.serviceHeaderSecondary {
    width: 50%;
    color: var(--color-text-gray);
}

.serviceCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    width: 100%;
}

.serviceCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    width: 100%;
    max-width: 100%;
}



.serviceImageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.serviceImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.serviceCardTextPrimary {
    color: var(--color-orange);
}

.serviceCardTextSecondary {
    color: var(--color-text-gray);
}

.serviceCTAContainer {
    margin-top: 120px;
    height: auto;
    background-color: var(--color-dark-orange);
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    transform: rotate(3deg);
    margin-left: -10px;
    margin-right: -10px;
}

.serviceCTAContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}


.ctaLogo {
    height: 150px;
    width: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.CTAPrimary {
    color: var(--color-white);
}

.CTAButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Tablet styles */
@media screen and (max-width: 1024px) {
    .serviceCardContainer {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .serviceCardContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .serviceCardContainer {
        grid-template-columns: 1fr;
        gap: 25px;
    }
    
    .serviceHeaderSecondary {
        width: 100%;
    }

    .ctaLogo {
        height: 50px;
    }

    .serviceCTAContent {
        gap: 25px;
    }

    .serviceCTAContainer {
        margin-left: 0px;
        margin-right: 0px;
        transform: rotate(0deg);
        gap: 25px;
    }

    .CTAPrimary {
        text-align: center;
    }
}