@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Odor+Mean+Chey&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-orange: #D1702A;
    --color-light-orange: #FF964B;
    --color-dark-orange: #BA4E00;
    --color-dark-gray: #333333;
    --color-text-gray: #5B5B5B;
    --color-input-border: #C6C6C6;
    --color-input-fill: #F5F5F5;
    --color-red: #FF0000;
    --color-blue: #0953FF;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-odor-mean-chey: 'Odor Mean Chey', serif;

    font-size: 16px;
}

    *,
    *::before,
    *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

  h4 {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: var(--font-open-sans);
}

  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--font-odor-mean-chey);
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-odor-mean-chey);
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--font-odor-mean-chey);
    line-height: 120%;
  }

  p, input, textarea {
    font-size: 1rem;
    font-weight: 500;
    line-height: 180%;
    font-family: var(--font-open-sans);
  }

  a {
    font-size: 1rem;
    font-weight: 600;
    line-height: 180%;
    font-family: var(--font-open-sans);
  }

  html {
    max-width: 100vw;
    overflow-x: clip;
  }
  
  body {
    max-width: 100vw;
    overflow-x: clip;
  }


  textarea {
    border: 1px solid var(--color-input-border);
    background-color: var(--color-input-fill);
    border-radius: 5px;
    padding: 10px;
    height: 200px;
  }


  .wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  @media screen and (min-width: 1920px) {
    .wrapper {
      max-width: 2560px;
      padding-left: 280px;
      padding-right: 280px;
    }
  }
  
  /* MacBook M1 Pro (1440px) */
  @media screen and (max-width: 1440px) {
    .wrapper {
      max-width: 1440px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media screen and (max-width: 1536px) {
    .wrapper {
      max-width: 1920px;
    }
  }
  
  @media screen and (max-width: 1280px) {  
    .wrapper {
      max-width: 1536px;
    }
  }
  
  @media screen and (max-width: 1024px) {  
    .wrapper {
      max-width: 1024px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 100%;  
      padding-left: 20px; 
      padding-right: 20px;
    }
  }
  
  @media screen and (max-width: 640px) {
    :root {
      font-size: 12px;
    }
    
    .wrapper {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }


  .punctuation {
    font-family: var(--font-open-sans);
  }



  .button {
    font-size: .8em;
    font-family: var(--font-open-sans);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    border-radius: 5px;
  }

  .orangeButton {
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    transition: background-color 0.2s ease, opacity 0.2s ease;
  }

  .orangeButton:hover {
    background-color: var(--color-dark-orange);
    opacity: 0.9;
  }

  .orangeButton:active {
    background-color: var(--color-dark-orange);
    opacity: 0.8;
  }

  .borderButton {
    background: none;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    transition: background-color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
  }

  .borderButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--color-white);
    opacity: 0.9;
  }

  .borderButton:active {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.8;
  }

  .whiteButton {
    background-color: var(--color-white);
    color: var(--color-dark-orange);
    border: none;
    transition: background-color 0.2s ease, opacity 0.2s ease;
  }

  .whiteButton:hover {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
  }

  .whiteButton:active {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
  }

  .blueButton {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    transition: background-color 0.2s ease, opacity 0.2s ease;
  }

  .blueButton:hover {
    background-color: #0738CC;
    opacity: 0.9;
  }

  .blueButton:active {
    background-color: #0738CC;
    opacity: 0.8;
  }


  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }

  .uploadContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

  .formField {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .formField input {
    border: 1px solid var(--color-input-border);
    background-color: var(--color-input-fill);
    border-radius: 5px;
    padding: 10px;
  }

  .formField input:focus,
  .formField input:not(:placeholder-shown) {
    background-color: var(--color-white);
  }

  textarea:focus,
  textarea:not(:placeholder-shown) {
    background-color: var(--color-white);
  }


  

  @media screen and (max-width: 480px) {

  }